.App {
  text-align: center;
}


.profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
 border-radius: 50%;
}

.App > div:nth-child(3) > .profile-pic {
  border-radius: 0px;
}

.movie-poster {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.movie-container {
  width: 300px;
}

.movie-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-name{
  font-size: 25px;
  margin:0;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: space-around;
}